<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Import the navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-5">
    <h1 class="mb-4">Photo Gallery</h1>

    <div th:replace="~{fragments/searchBar :: searchBar(basePath='/photos', searchText=${searchText})}"></div>

    <!-- Display error if exists -->
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <!-- Import the navbar -->
    <div th:replace="~{fragments/pagination :: pagination(basePath='/photos', totalPages=${totalPages}, currentPage=${currentPage}, searchText=${searchText})}"></div>

    <!-- Display photos in a gallery -->
    <div th:if="${photos != null}" class="row">
        <div th:each="photo : ${photos}" class="col-md-4 mb-4">
            <div class="card h-100">
                <a th:href="${photo.url}" target="_blank">
                    <img th:src="${photo.thumbnailUrl}" class="card-img-top" alt="Photo thumbnail">
                </a>
                <div class="card-body">
                    <h5 class="card-title" th:text="${photo.title}"></h5>
                    <p class="card-text">
                        <strong>Album ID:</strong> <span th:text="${photo.albumId}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${photos == null}">
        <p>No photos available</p>
    </div>

    <!-- Import the navbar -->
    <div th:replace="~{fragments/pagination :: pagination(basePath='/photos', totalPages=${totalPages}, currentPage=${currentPage}, searchText=${searchText})}"></div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
