<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Post Listing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Import the navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-5">
    <h1 class="mb-4">Posts</h1>

    <div th:replace="~{fragments/searchBar :: searchBar(basePath='/posts', searchText=${searchText})}"></div>


    <!-- Display error if exists -->
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <!-- Import the navbar -->
    <div th:replace="~{fragments/pagination :: pagination(basePath='/posts', totalPages=${totalPages}, currentPage=${currentPage}, searchText=${searchText})}"></div>


    <!-- Display posts -->
    <div th:if="${posts != null}">
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <div th:each="post : ${posts}" class="list-group-item">
                        <h5 th:text="${post.title}"></h5>
                        <p th:text="${post.body}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${posts == null}">
        <p>No posts available</p>
    </div>

    <!-- Import the navbar -->
    <div th:replace="~{fragments/pagination :: pagination(basePath='/posts', totalPages=${totalPages}, currentPage=${currentPage}, searchText=${searchText})}"></div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
