<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Todo Listing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Import the navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-5">
    <h1 class="mb-4">Todos</h1>

    <!-- Display error if exists -->
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <!-- Import the navbar -->
    <div th:replace="~{fragments/pagination :: pagination(basePath='/todos', totalPages=${totalPages}, currentPage=${currentPage}, searchText=${searchText})}"></div>

    <!-- Display todos as a list with checkboxes -->
    <div th:if="${todos != null}">
        <ul class="list-group">
            <li th:each="todo : ${todos}" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="mb-1" th:text="'User ID: ' + ${todo.userId}"></h5>
                    <p class="mb-1" th:text="${todo.title}"></p>
                </div>
                <div>
                    <input type="checkbox" class="form-check-input" th:checked="${todo.completed}">
                </div>
            </li>
        </ul>
    </div>
    <div th:if="${todos == null}">
        <p>No todos available</p>
    </div>

    <!-- Import the navbar -->
    <div th:replace="~{fragments/pagination :: pagination(basePath='/todos', totalPages=${totalPages}, currentPage=${currentPage}, searchText=${searchText})}"></div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
