<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Listing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Import the navbar -->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container mt-5">
    <h1 class="mb-4">User Profiles</h1>

    <div th:replace="~{fragments/searchBar :: searchBar(basePath='/users', searchText=${searchText})}"></div>

    <!-- Display error if exists -->
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <!-- Import the navbar -->
    <div th:replace="~{fragments/pagination :: pagination(basePath='/users', totalPages=${totalPages}, currentPage=${currentPage}, searchText=${searchText})}"></div>

    <!-- Display user profiles as cards -->
    <div th:if="${users != null}" class="row">
        <div th:each="user : ${users}" class="col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" th:text="${user.name}"></h4>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="'Username: ' + ${user.username}"></h6>
                    <p class="card-text"><strong>Email:</strong> <span th:text="${user.email}"></span></p>
                    <p class="card-text"><strong>Phone:</strong> <span th:text="${user.phone}"></span></p>
                    <p class="card-text"><strong>Website:</strong> <a th:href="'http://' + ${user.website}" th:text="${user.website}" target="_blank"></a></p>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${users == null}">
        <p>No users available</p>
    </div>

    <!-- Import the navbar -->
    <div th:replace="~{fragments/pagination :: pagination(basePath='/users', totalPages=${totalPages}, currentPage=${currentPage}, searchText=${searchText})}"></div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
